meta {
  -theme-display-name: "Tomorrow Night Eighties Variant";
  -theme-interface-style: dark;
  -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
  border-color: #39393b;
  background-color: #202022;
}

meta.titlebar {
  color: #e0e0e2;
  border-color: #2d2d2d;
  background-color: #202022;
}

meta.titlebar.inactive {
  background-color: #39393b;
}

meta.button {
  background: linear-gradient(#515153, #39393b);
  border: #2d2d2f;
  color: #e0e0e2;
}

meta.button.highlighted {
  background: linear-gradient(#59595b, #414143);
  color: white;
}

meta.button.selected {
  color: white;
}

meta.button.highlighted.selected {
  color: white;
}

meta.textfield {
  background-color: #2d2d2f;
  border-color: #39393b;
}

meta.textfield.highlighted {
  background-color: #2d2d2d;
  border-color: hsl(210, 5%, 23%);
}

/*
 * Document styles
 */
meta.document {
  background-color: #2d2d2d;
  border-color: #515153;
}

meta.document.button {
  background: linear-gradient(#515153, #39393b);
  border: #2d2d2f;
}

meta.document.button.disabled {
  background: linear-gradient(hsla(220, 5%, 25%, 0.3), hsla(220, 5%, 21%, 0.3));
}

meta.document.button.highlighted {
  background: linear-gradient(#59595b, #414143);
}

meta.document.textfield {
  background-color: #202022;
  border-color: #39393b;
}

meta.document.textfield.highlighted {
  background-color: #202022;
  border-color: hsl(210, 5%, 19%);
}

/* Text */
meta.text {
  color: #e0e0e2;
}

meta.text.invisible {
  color: #515153;
}

meta.text.selected {
  background-color: #515153;
}

/* Cursor */
meta.cursor {
  background-color: #39393b;
}

/* Indentation Guides */
meta.indentguide {
  border-color: #515153;
}

/* Gutter */
meta.gutter {
  color: #515153;
}

meta.gutter.selected {
  background-color: #6699ce;
  color: white;
}

/*
 * Syntax styles
 */
keyword {
  color: #cc99ce;
}

keyword.self {
  color: #f2777a;
}

comment {
  color: #999999;
}

processing {
  color: #cc99ce;
}

declaration {
  color: #cc99ce;
}

bracket {
  color: #e0e0e2;
}

operator {
  color: #e0e0e2;
}

keyword.operator {
  color: #cc99ce;
}

invalid {
  background-color: rgba(242, 119, 122, 0.1);
  color: white;
}

link {
  color: #6699ce;
}

/* Values */
value.boolean {
  color: #f99157;
}

value.null {
  color: #f99157;
}

value.number {
  color: #f99157;
}

value.entity {
  color: #f99157;
}

value.symbol {
  color: #f99157;
}

type {
  color: #ffcc66;
}

/* Identifiers */
identifier {
  color: #f2777a;
}

identifier.type {
  color: #ffcc66;
}

identifier.constant {
  color: #66cccc;
}

identifier.global {
  color: #f2777a;
}

identifier.variable {
  color: #f2777a;
}

identifier.core {
  color: #cc99ce;
}

identifier.decorator,
identifier.function,
identifier.method {
  color: #6699ce;
}

identifier.property {
  color: #f2777a;
}

identifier.key {
  color: #e0e0e2;
}

identifier.argument {
  color: #f2777a;
}

/* Strings */
string {
  color: #99cc9b;
}

string.key {
  color: #99cc9b;
}

string-template {
  color: #ccccce;
}

string-template.value {
  color: #f99157;
}

regex {
  color: #66cccc;
}

regex.escaped {
  color: #66cccc;
}

cdata {
  color: #e0e0e2;
}

/* Markup */
markup.heading {
  color: #6699ce;
}

markup.line {
  color: #6699ce;
}

markup.bold {
  color: #ffcc66;
  font-weight: bold;
}

markup.italic {
  color: #cc99ce;
  font-style: italic;
}

markup.strikethrough {
  color: #99cc9b;
}

markup.list.item {
  color: #f2777a;
}

markup.code {
  color: #999999;
}

markup.link {
  color: #6699ce;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  color: #cc99ce;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #cc99ce;
}

/* Tags */
tag {
  color: #b4b7b6;
}

tag.name {
  color: #f2777a;
}

tag.framework {
  color: #ed7554;
}

tag.attribute.name {
  color: #f99157;
}

tag.attribute.value {
  color: #99cc9b;
}

tag.attribute.value.link {
  color: #6699ce;
}

/* Styles */
style.at {
  color: #cc99ce;
}

style.selector.element {
  color: #f2777a;
}

style.selector.identifier.id {
  color: #6699ce;
}

style.selector.identifier.class {
  color: #f99157;
}

style.selector.pseudoclass {
  color: #f99157;
}

style.selector.pseudoelement {
  color: #f99157;
}

style.attribute.name {
  color: #e0e0e2;
}

style.value.number {
  color: #f99157;
}

style.value.color.hex {
  color: #66cccc;
}

style.value.keyword {
  color: #cc99ce;
}

style.value.color.named {
  color: #6699ce;
}

style.value.identifier.function {
  color: #66cccc;
}

/* Terminal */
terminal.black,
terminal.bright-black {
  color: #2d2d2d;
}

terminal.red,
terminal.bright-red {
  color: #f2777a;
}

terminal.green,
terminal.bright-green {
  color: #99cc9b;
}

terminal.yellow,
terminal.bright-yellow {
  color: #ffcc66;
}

terminal.blue,
terminal.bright-blue {
  color: #6699ce;
}

terminal.magenta,
terminal.bright-magenta {
  color: #cc99ce;
}

terminal.cyan,
terminal.bright-cyan {
  color: #66cccc;
}

terminal.white,
terminal.bright-white {
  color: #e0e0e2;
}

/* advancedPHP */
advphp.static.condition {
  color: #cc99ce;
}

advphp.static.processor {
  color: #cc99ce;
}

advphp.static.declaration {
  color: #cc99ce;
}

advphp.static.import {
  color: #cc99ce;
}

advphp.static.constant {
  color: #66cccc;
}

advphp.static.wordOperator {
  color: #b4b7b6;
}

advphp.wp.keywords {
  color: #66cccc;
}

advphp.curl.keywords {
  color: #66cccc;
}

advphp.sql.keywords {
  color: #cc99ce;
}

advphp.operator {
  color: #b4b7b6;
}

advphp.bracket {
  color: #b4b7b6;
}

advphp.delimiter {
  color: #b4b7b6;
}

advphp.identifier.variable.prefix {
  color: #b4b7b6;
}

advphp.identifier.variable.name {
  color: #f2777a;
}

advphp.identifier.variable.this {
  color: #ffcc66;
}

advphp.identifier.function.keyword {
  color: #cc99ce;
}

advphp.identifier.function.name {
  color: #6699ce;
}

advphp.identifier.parameter.prefix {
  color: #b4b7b6;
}

advphp.identifier.parameter.name {
  color: #f2777a;
}

advphp.identifier.object.name {
  color: #ffcc66;
}

advphp.string,
advphp.value.string,
advphp.string.doubleQuote,
advphp.string.singleQuote {
  color: #99cc9b;
}
